@page
@model IndexModel
@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center container row">
    <form name="calculator">
        <br />
        <div class="form-group">
            <h1 class="text-center">Calculadora</h1>
            <div class="row">
                <div class="col-sm-3">
                    <label>Número 1:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="num1" onkeypress="Resultado.calculator.resul.value+=document.calculator.num1.value" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <label>Número 2:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="num2" onkeypress="Resultado.calculator.resul.value+=document.calculator.num2.value" />
                </div>
            </div>
            <br />
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <input class="col btn-success" type="button" value="Sumar" onclick="Resultado.calculator.resul.value+='+'" />
                    <input class="col btn-success" type="button" value="Restar" onclick="Resultado.calculator.resul.value+='-'" />
                    <input class="col btn-success" type="button" value="Multiplicar" onclick="Resultado.calculator.resul.value+='*'" />
                    <input class="col btn-success" type="button" value="Dividir" onclick="Resultado.calculator.resul.value+='/'" />
                    <br />
                    <br />
                    <a asp-page="Resultado" class="btn btn-success form-control">Aceptar</a>
                </div>
            </div>
            <br />
            <input class="col-sm-2 btn-danger" type="reset" value="C" />
        </div>
    </form>
</div>