@page
@model Prueba1.Pages.Calculadorav2Model
@{
    ViewData["Title"] = "Calculadorav2";
}

<div class="text-center container row">
    <form name="calculator">
        <br />
        <div class="form-group">
            <h1 class="text-center">Calculadora</h1>
            <div class="row">
                <div class="col-sm-3">
                    <label>Número 1:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="num1" onkeypress="document.calculator.resul.value+=document.calculator.num1.value" />
                </div>
            </div>
            <br />
            <input class="col-sm-2" type="button" value="+" onclick="document.calculator.resul.value+='+'" />
            <input class="col-sm-2" type="button" value="-" onclick="document.calculator.resul.value+='-'" />
            <input class="col-sm-2" type="button" value="*" onclick="document.calculator.resul.value+='*'" />
            <input class="col-sm-2" type="button" value="/" onclick="document.calculator.resul.value+='/'" />
            <br />
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <label>Número 2:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="num2" onkeypress="document.calculator.resul.value+=document.calculator.num2.value" />
                </div>
            </div>
            <br />
            <input class="col-sm-2" type="button" value="=" onclick="document.calculator.resul.value=eval(document.calculator.resul.value)" />
            <br />
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <label>Operación:</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="resul" />
                </div>
            </div>
            <br />
            <input class="col-sm-2 btn-danger" type="reset" value="C" />
        </div>
    </form>
</div>

