@page
@model IndexModel
@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-left container row">
    <form name="calculator">
        <br />
        <div class="form-group">
            <h3>Hola Mundo</h3>
        </div>
        <br />
        <br />
        <div>
            <p>Este es un proyecto de prueba en el que hemos creado dos versiones de una calculadora.</p>
            <p>Para acceder a las calculadoras hay dos opciones:</p>
            <ul>
                <li>Clicando sobre las ventanas que aparecen arriba.</li>
                <li>Clicando sobre los botones de abajo.</li>
            </ul>
        </div>
        <br />
        <br />
        <div class="text-center">
            <a class="col-sm-10 nav-link btn btn bg-success text-light btn-lg" asp-page="/Calculadorav1">Calculadora V1</a>
            <br />
            <a class="col-sm-10 nav-link btn btn bg-success text-light btn-lg" asp-page="/Calculadorav2">Calculadora V2</a>
        </div>
    </form>
</div>