@page
@model IndexModel
@{
    ViewData["Title"] = "Calculadora";
}

<div class="text-center container row">
    <form name="calculator">
        <br />
        <div class="form-group">
            <h3>Hola Mundo</h3>
        </div>
        <br />
        <br />
        <div>
            <p>Este es un proyecto de prueba en el que hemos creado dos versiones de una calculadora.</p>
            <p>Para acceder a las calculadoras hay dos opciones:</p>
            <ul>
                <li>Clicando sobre las ventanas que aparecen arriba.</li>
                <li>Clicando sobre los botones de abajo.</li>
            </ul>
        </div>
        <br />
        <br />
        <div>
            <a asp-page="Cacluladorav1" class="btn btn-success form-control">Calculadora Versión 1</a>
            <input type="button" onclick="Calculadorav2" value="Calcladora versión 2"/>
        </div>
    </form>
</div>